# Default ignored files
/shelf/
/workspace.xml

target/
!**/src/main/**
!**/src/test/**
.gradle
.tmp
.ssh
.idea/
data/
*.ser
.DS_Store
AWSCredentials.txt

### vi ###
*.swp

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.jpb

### testing ###
coverage
**/.reports/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Schema Generation ###
/*.sql
